"""
Devopness API Python SDK - Painless essential DevOps to everyone

Note:
    This is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
"""

from typing import List, Optional
from urllib.parse import urlencode

from .. import DevopnessBaseService, DevopnessResponse
from ..models.team_invitation_relation import TeamInvitationRelation


class UsersTeamInvitationsApiService(DevopnessBaseService):
    """
    UsersTeamInvitationsApiService - Auto Generated
    """

    async def list_user_team_invitations(
        self,
        page: Optional[int] = None,
        per_page: Optional[int] = None,
    ) -> DevopnessResponse[List[TeamInvitationRelation]]:
        """
        Return a list of all pending team invitations for the authenticated user
        """

        params = dict(
            page=page,
            per_page=per_page,
        )

        query_params = dict()
        for key, value in params.items():
            if value is None:
                continue

            query_params[key] = value

        query_string = urlencode(query_params)

        endpoint: str = "/users/team-invitations" + f"?{query_string}"

        response = await self._get(endpoint)

        return DevopnessResponse(response, List[TeamInvitationRelation])

    def list_user_team_invitations_sync(
        self,
        page: Optional[int] = None,
        per_page: Optional[int] = None,
    ) -> DevopnessResponse[List[TeamInvitationRelation]]:
        """
        Return a list of all pending team invitations for the authenticated user
        """

        params = dict(
            page=page,
            per_page=per_page,
        )

        query_params = dict()
        for key, value in params.items():
            if value is None:
                continue

            query_params[key] = value

        query_string = urlencode(query_params)

        endpoint: str = "/users/team-invitations" + f"?{query_string}"

        response = self._get_sync(endpoint)

        return DevopnessResponse(response, List[TeamInvitationRelation])
