"""
Devopness API Python SDK - Painless essential DevOps to everyone

Note:
    This is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
"""

from typing import List, Optional
from urllib.parse import urlencode

from .. import DevopnessBaseService, DevopnessResponse
from ..models.environment_relation import EnvironmentRelation


class UsersEnvironmentsApiService(DevopnessBaseService):
    """
    UsersEnvironmentsApiService - Auto Generated
    """

    async def list_user_environments(
        self,
        user_id: str,
        page: Optional[int] = None,
        per_page: Optional[int] = None,
        subscription_id: Optional[int] = None,
    ) -> DevopnessResponse[List[EnvironmentRelation]]:
        """
        Return a list of all environments owned by a user
        """

        params = dict(
            page=page,
            per_page=per_page,
            subscription_id=subscription_id,
        )

        query_params = dict()
        for key, value in params.items():
            if value is None:
                continue

            query_params[key] = value

        query_string = urlencode(query_params)

        endpoint: str = f"/users/{user_id}/environments" + f"?{query_string}"

        response = await self._get(endpoint)

        return DevopnessResponse(response, List[EnvironmentRelation])

    def list_user_environments_sync(
        self,
        user_id: str,
        page: Optional[int] = None,
        per_page: Optional[int] = None,
        subscription_id: Optional[int] = None,
    ) -> DevopnessResponse[List[EnvironmentRelation]]:
        """
        Return a list of all environments owned by a user
        """

        params = dict(
            page=page,
            per_page=per_page,
            subscription_id=subscription_id,
        )

        query_params = dict()
        for key, value in params.items():
            if value is None:
                continue

            query_params[key] = value

        query_string = urlencode(query_params)

        endpoint: str = f"/users/{user_id}/environments" + f"?{query_string}"

        response = self._get_sync(endpoint)

        return DevopnessResponse(response, List[EnvironmentRelation])
