[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "devopness-mcp-server"
version = "0.0.20"
description = "A Model Context Protocol (MCP) server that uses Devopness to allow AI Agents to provision infrastructure and deploy any app to any cloud"
license = "MIT"
readme = "README.md"
requires-python = ">=3.12"
authors = [{ name = "Devopness (https://www.devopness.com)" }]
keywords = [
  "API Client",
  "Cloud Engineering",
  "Cloud Infrastructure",
  "Cloud Platform",
  "Cloud Resource Management",
  "Configuration Management",
  "Deployment Automation",
  "Devopness",
  "DevOps",
  "Infrastructure as Code",
  "Platform Engineering",
  "Python SDK",
  "Server Management",
  "Server Provisioning",
  "Zero Downtime Deployment",
  "Utilities",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "Environment :: Other Environment",
  "Intended Audience :: Developers",
  "Intended Audience :: End Users/Desktop",
  "Intended Audience :: Information Technology",
  "Intended Audience :: Other Audience",
  "Intended Audience :: System Administrators",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Topic :: Communications :: Chat",
  "Topic :: Software Development",
  "Topic :: Software Development :: Libraries",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "Topic :: System :: Systems Administration",
  "Topic :: Utilities",
]
dependencies = [
  "devopness>=1.2.1",
  "mcp[cli]>=1.9.1",
]

[project.urls]
homepage = "https://www.devopness.com"
repository = "https://github.com/devopness/devopness/tree/main/packages/ai/mcp-server"
changelog = "https://github.com/devopness/devopness/blob/main/packages/ai/mcp-server/CHANGELOG.md"

[project.scripts]
devopness-mcp-server = "devopness_mcp_server.main:run"

[dependency-groups]
dev = ["mypy>=1.16.0", "ruff>=0.11.13"]

[tool.hatch.build.targets.wheel]
packages = ["src/devopness_mcp_server"]

[tool.uv]
package = true

[tool.ruff]
line-length = 88
target-version = "py312"

[tool.ruff.lint]
preview = true

extend-select = [
  "A",   # flake8-builtins (avoid shadowing built-ins)
  "ANN", # flake8-annotations (type hints for public APIs)
  "B",   # flake8-bugbear (common bugs and best practices)
  "E",   # pycodestyle (error)
  "F",   # pyflakes (basic errors)
  "I",   # isort (import sorting)
  "N",   # pep8-naming
  "PIE", # flake8-pie (extra cleanups)
  "PLC", # pylint conventions
  "PLE", # pylint errors
  "PLW", # pylint warnings
  "Q",   # flake8-quotes (quote consistency)
  "RET", # flake8-return (return statement rules)
  "RUF", # Ruff-specific rules
  "S",   # flake8-bandit (security rules)
  "SIM", # flake8-simplify
  "W",   # pycodestyle (warning)
]

[tool.ruff.lint.isort]
known-first-party = ["devopness"]
case-sensitive = true

[tool.mypy]
python_version = "3.12"

strict = true
disallow_any_unimported = true
strict_optional = true
warn_no_return = true
warn_unreachable = true

sqlite_cache = true
cache_fine_grained = true
