# CREDENTIAL_AWS: Credential of an AWS account, configured with the minimum
# required permissions (policies):
#   - 'AmazonEC2FullAccess'
#   - 'IAMReadOnlyAccess'
#
# For details on how to create this credential, see:
# https://www.devopness.com/docs/users/credentials/add-aws-credential/
CREDENTIAL_AWS_ACCESS_KEY_ID=
CREDENTIAL_AWS_SECRET_ACCESS_KEY=

# GITHUB_ACCESS_TOKEN: A Personal Access Token (classic) of a GitHub account,
# configured with the minimum required permissions:
#
#   - 'repo'       (full control of private repositories)
#   - 'read:user'  (read all user profile data)
#   - 'user:email' (read-only access to user email addresses)
#
# For details on how to create a token, see:
# https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-personal-access-token-classic
#
# Note: At the time of this writing, 2024-08-26, GitHub Fine-grained tokens are still in beta, so we recommend using `Personal Access Token (classic)`. Once `GitHub Fine-grained tokens` move out of beta, we might want to update the instructions here and also update Devopness Credentials to support GitHub Fine-grained tokens.
#
# For details, see:
# https://docs.github.com/en/organizations/managing-programmatic-access-to-your-organization/managing-requests-for-personal-access-tokens-in-your-organization
CREDENTIAL_GITHUB_ACCESS_TOKEN=
