# Ignore node_modules directory
node_modules

# Ignore build directory
build

# Ignore ignore file
ignore

# Ignore graph files
graph.dot
graph.png

# Ignore API docs zip file
docs/api-docs.zip

# Ignore generated documentation, for more information check the scripts:
#api-build-spec
#api-convert-spec-to-dredd
#api-convert-spec-to-json
#api-docs-export-page
#api-docs-zip-extract
docs/spec/data-models.yaml
docs/spec/paths.yaml
