root = true

[*]
indent_style = space
indent_size = 2
charset = UTF-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yaml,yml}]
quote_type = single

[*.{py}]
indent_size = 4

[*.{mustache}]
insert_final_newline = false
