.login-container {
  display: flex;
  justify-content: center;
}

.input-container {
  margin: 5px;
}

.input-error {
  border-color: #ff0000bd;
}

.error-container {
  font-size: 12px;
  color: #ff0000bd;
  display: flex;
  width: 250px;
  height: 20px;
  align-items: center;
  margin-left: 10px;
}

.disabled {
  cursor: not-allowed;
  background: #DDD;
}

input {
  width: 250px;
  height: 30px;
  border: 1px solid #DDD;
  border-radius: 20px;
  padding: 0 10px;
}

button {
  width: 250px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  background-color: #35495d;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
