"""
Devopness API Python SDK - Painless essential DevOps to everyone

Note:
    This is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
"""

from .. import DevopnessBaseService, DevopnessBaseServiceAsync, DevopnessResponse
from ..models import ProjectRelation
from ..utils import parse_query_string


class UsersProjectsApiService(DevopnessBaseService):
    """
    UsersProjectsApiService - Auto Generated
    """

    def list_user_projects(
        self,
        user_id: str,
        page: int | None = None,
        per_page: int | None = None,
        subscription_id: int | None = None,
    ) -> DevopnessResponse[list[ProjectRelation]]:
        """
        Return a list of all projects owned by a user

        Attributes:
            user_id (str): The numeric ID or URL Slug of a user.
            page (Optional[int]): Number of the page to be retrieved
            per_page (Optional[int]): Number of items returned per page
            subscription_id (Optional[int]): ID of a user subscription to calculate the amount of credits used from that subscription on each user project. If provided, and being a valid subscription belonging to current user, the &#39;used_credits&#39; field will be added to the response.

        Raises:
            DevopnessApiError: If an API request error occurs.
            DevopnessNetworkError: If a network error occurs.
        """

        query_string = parse_query_string(
            {
                "page": page,
                "per_page": per_page,
                "subscription_id": subscription_id,
            }
        )

        endpoint_parts = [
            f"/users/{user_id}/projects",
            f"?{query_string}" if query_string else "",
        ]

        endpoint: str = "".join(endpoint_parts)
        response = self._get(endpoint)

        return DevopnessResponse(response, list[ProjectRelation])


class UsersProjectsApiServiceAsync(DevopnessBaseServiceAsync):
    """
    UsersProjectsApiServiceAsync - Auto Generated
    """

    async def list_user_projects(
        self,
        user_id: str,
        page: int | None = None,
        per_page: int | None = None,
        subscription_id: int | None = None,
    ) -> DevopnessResponse[list[ProjectRelation]]:
        """
        Return a list of all projects owned by a user

        Attributes:
            user_id (str): The numeric ID or URL Slug of a user.
            page (Optional[int]): Number of the page to be retrieved
            per_page (Optional[int]): Number of items returned per page
            subscription_id (Optional[int]): ID of a user subscription to calculate the amount of credits used from that subscription on each user project. If provided, and being a valid subscription belonging to current user, the &#39;used_credits&#39; field will be added to the response.

        Raises:
            DevopnessApiError: If an API request error occurs.
            DevopnessNetworkError: If a network error occurs.
        """

        query_string = parse_query_string(
            {
                "page": page,
                "per_page": per_page,
                "subscription_id": subscription_id,
            }
        )

        endpoint_parts = [
            f"/users/{user_id}/projects",
            f"?{query_string}" if query_string else "",
        ]

        endpoint: str = "".join(endpoint_parts)
        response = await self._get(endpoint)

        return await DevopnessResponse.from_async(response, list[ProjectRelation])
