# TO DO: find or implement on openapi-generator option to do not generate below files and folder
api/.gitignore
api/.openapi-generator
api/.openapi-generator-ignore
api/_auto_generated_apis_ignore
api/.npmignore
api/api.ts
api/git_push.sh
api/base.ts
api/configuration.ts
api/index.ts
