"""
Devopness API Python SDK - Painless essential DevOps to everyone

Note:
    This is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
"""

from urllib.parse import urlencode  # noqa: F401
from typing import List, Optional
from ..models.team_invitation_relation import TeamInvitationRelation

from devopness.common import ApiResponse
from devopness.services import ApiBaseService


class UsersTeamInvitationsApiService(ApiBaseService):
    """
    UsersTeamInvitationsApiService - Auto Generated
    """

    async def list_user_team_invitations(
        self,
        page: Optional[int] = None,
        per_page: Optional[int] = None,
    ) -> ApiResponse[List[TeamInvitationRelation]]:
        """
        Return a list of all pending team invitations for the authenticated user
        """

        params = dict(
            page=page,
            per_page=per_page,
        )

        query_params = dict()
        for key, value in params.items():
            if value is None:
                continue

            query_params[key] = value

        query_string = urlencode(query_params)

        endpoint: str = "/users/team-invitations" + f"?{query_string}"

        response = await self._get(endpoint)

        return ApiResponse(response, List[TeamInvitationRelation])
