"""
Devopness API Python SDK - Painless essential DevOps to everyone

Note:
    This is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
"""

from urllib.parse import urlencode  # noqa: F401
from typing import List, Optional
from ..models.project_relation import ProjectRelation

from devopness.common import ApiResponse
from devopness.services import ApiBaseService


class UsersProjectsApiService(ApiBaseService):
    """
    UsersProjectsApiService - Auto Generated
    """

    async def list_user_projects(
        self,
        user_id: str,
        page: Optional[int] = None,
        per_page: Optional[int] = None,
        subscription_id: Optional[int] = None,
    ) -> ApiResponse[List[ProjectRelation]]:
        """
        Return a list of all projects owned by a user
        """

        params = dict(
          page=page,
          per_page=per_page,
          subscription_id=subscription_id,
        )

        query_params = dict()
        for key, value in params.items():
            if value is None:
                continue

            query_params[key] = value

        query_string = urlencode(query_params)

        endpoint: str = f"/users/{user_id}/projects" + f"?{query_string}"

        response = await self._get(endpoint)

        return ApiResponse(response, List[ProjectRelation])
