"""
Devopness API Python SDK - Painless essential DevOps to everyone

Note:
    This is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
"""

from urllib.parse import urlencode  # noqa: F401
from ..models.password_reset_response import PasswordResetResponse
from ..models.password_user_reset import PasswordUserReset
from ..models.password_user_send_reset_link import PasswordUserSendResetLink

from devopness.common import ApiResponse
from devopness.services import ApiBaseService


class UsersPasswordsApiService(ApiBaseService):
    """
    UsersPasswordsApiService - Auto Generated
    """

    async def reset_user_password(
        self,
        password_user_reset: PasswordUserReset,
    ) -> ApiResponse[PasswordResetResponse]:
        """
        Reset the user password
        """

        endpoint: str = "/users/password/reset"

        response = await self._post(endpoint, password_user_reset)

        return ApiResponse(response, PasswordResetResponse)

    def reset_user_password_sync(
        self,
        password_user_reset: PasswordUserReset,
    ) -> ApiResponse[PasswordResetResponse]:
        """
        Reset the user password
        """

        endpoint: str = "/users/password/reset"

        response = self._post_sync(endpoint, password_user_reset)

        return ApiResponse(response, PasswordResetResponse)

    async def send_reset_link_user_password(
        self,
        password_user_send_reset_link: PasswordUserSendResetLink,
    ) -> ApiResponse:
        """
        Send the password reset link to user's email
        """

        endpoint: str = "/users/password/send-reset-link"

        response = await self._post(endpoint, password_user_send_reset_link)

        return ApiResponse(response)

    def send_reset_link_user_password_sync(
        self,
        password_user_send_reset_link: PasswordUserSendResetLink,
    ) -> ApiResponse:
        """
        Send the password reset link to user's email
        """

        endpoint: str = "/users/password/send-reset-link"

        response = self._post_sync(endpoint, password_user_send_reset_link)

        return ApiResponse(response)
